<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />	
	<script src="/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
	
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	
	<button type="button" id="f">Moving Forward</button>
	<button type="button" id="b">Moving Backward</button>
	<button type="button" id="l">Turning Left</button>
	<button type="button" id="r">Turning Right</button>

	<button type="button" id="u">Speed Up</button>
	<button type="button" id="d">Speed Down</button>	
	
	<button type="button" id="t">Start</button>	
	<button type="button" id="p">Stop</button>	
  </body>
</html>
<script type="text/javascript">
var callback = function(data){
	console.log("callback recived from server");
}
	
$('button').each(function(index){
	$(this).click(function () {       
	  console.log('buttoon clicked id: ' + $(this).attr('id'));
  	  $.post('/control', { "command": $(this).attr('id')}, callback, "json");
	});
});
</script>
